/* 红色背景 */
body {
  background-color: #FFCCCC !important; /* 淡红色 */
  background-image: none !important;
}

#web_bg {
  background: #FFCCCC !important;
  background-image: none !important;
}

/* 调整卡片透明度 */
.layout_page > div, .layout_post > div {
    background: rgba(255, 255, 255, 0.9) !important;
}

/* 去除动画 */
.wow {
    visibility: visible !important;
    animation-name: none !important;
}
